.carousel-item {
  height: 450px;
}
@media(min-width: 1320px){
  .carousel-item {
    height: 600px;
  }
}
@media(max-width: 900px){
  .carousel-item {
    height: 300px;
  }
}
.carousel-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
}
.img-comissions{
  height: 90%;
  object-fit: cover;
  border-radius: 5px;
}
